extends layout

block content
  #page-wrapper
    .row
      .col-sm-12
        h1.page-header= url
        .col-sm-3
          img.img-responsive(src='https://scontent-a-ord.xx.fbcdn.net/hphotos-frc3/t1.0-9/1982185_10202749676275941_1538783811_n.jpg')
        .col-sm-6
          table
            tr
              td
                | Name
            tr
              td
                | Age
            tr
              td
                | Contact
          p
            | Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive. Info about representitive.
        .col-sm-3
          | Statistics?
